@charset "utf-8";

body{
    background-image: url("../images/loginbg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 14px;
}

#loginForm{
    width: 380px;
    height: 280px;
    background: rgba(255,255,255,0.8);
    margin: 200px auto;
    padding-top: 30px;
    border: 1px solid #cccccc;
    border-radius: 1em;
}

#loginForm p{
    text-indent: 45px;
}

#userName,
#passWord,
#userCode{
    height: 30px;
    border: 1px solid #cccccc;
    text-indent: 30px;
}

#userName{
    width: 280px;
    background-image: url("../images/user.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 2px center;
}

#passWord{
    width: 280px;
    background-image: url("../images/password.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 2px center;
}

#userCode{
    width: 175px;
    background-image: url("../images/verifycode.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 2px center;
}

#VCode{
    cursor: pointer;
    border: 0;
    height: 30px;
    vertical-align: middle;
}

#btLogin{
    width: 280px;
    height: 30px;
    background-color: #00ffff00;
    color: #194f4f;
    font-weight: bold;
}

.auth_err{
    font-size: 12px;
    color: red;
    display: block;
    height: 16px;
    line-height: 16px;
}